<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="fontTitulo text-center font-weight-bold">Sejam bem-vindes ao meu blog</h1>
        </div>
        <div class="row mt-4 mb-4 w-100">
            <div class="col-md-12">
                <p class="fontTexto text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatibus deleniti possimus suscipit, numquam asperiores sapiente nesciunt error non adipisci
                    minus similique odio, laudantium sed voluptatem neque ducimus est, veritatis delectus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nihil nemo itaque impedit, quisquam
                    voluptatibus, harum, aspernatur quos nostrum vel iure! Distinctio minus quibusdam ipsa, amet
                    voluptatum numquam fugit rem.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reiciendis nemo fugit nesciunt,
                    voluptas ipsa voluptates doloribus dolorem, eos non atque minus! Rem repudiandae praesentium,
                    exercitationem maxime temporibus voluptates reprehenderit.
                </p>
            </div>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn botao text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>
