<footer class="page-footer font-small pt-4 footer">

  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li><a href="#" class="icoFacebook" title="Facebook">
              <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
            </a></li>
          <li><a href="#" class="icoInstagram" title="Instagram">
              <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
            </a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin">
              <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
            </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footerCop footer-copyright text-center py-3 ">
    <span class="text-light"> © Heitor Augusto </span>
  </div>

</footer>