

<div class="bg container-fluid d-flex justify-content-center ">
    <nav class="bg navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="texto text-white nav-item nav-link text-monospace text-uppercase font-weight-bold p-3" routerLink="/home">Home <span class="sr-only">(Página atual)</span></a>
            <a class="texto text-white nav-item nav-link text-monospace text-uppercase font-weight-bold p-3" routerLink="/feed">Feed</a> 
            <!--routerLink faz a função de href. Recebe o caminho de redirecionamento (/)-->
          </div>
        </div>
      </nav>
</div>



